body {
  background-color: #F0EBE3;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #576F72;
  border-width: 5px;
  width: 10%
}

h1 {
  color: #576F72
}

h3 {
  color: #576F72
}
